In [106]:
#!pip install selenium

In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
import re
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [136]:
driver.get('https://www.naukri.com/')

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You 
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [3]:
from selenium.webdriver.common.by import By
import time

In [111]:
#Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field

search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys("Data Analyst")

In [112]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [113]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [114]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [115]:
#scrapping job title from the given page

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    
    title = i.text
    job_title.append(title)
    
#scraping the job-location

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    
    location = i.text
    job_location.append(location)
    
#scraping the company name

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    
    company = i.text
    company_name.append(company)
    
##scraping the experience_required 

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    
    exp = i.text
    experience_required.append(exp)

In [116]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [117]:
df = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name, 'EXP_required':experience_required})
df

,job_title,job_location,company_name,EXP_required
0,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
1,HCL hiring For Data Analyst,"Bangalore/Bengaluru, Pune, Chennai",HCL Technologies,3-8 Yrs
2,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-3 Yrs
3,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
4,Data Analyst - Decision Science,Bangalore/Bengaluru,Jana Small Finance Bank,3-8 Yrs
5,Programmer / Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Frost & Sullivan,3-7 Yrs
6,Immediate opening For Data Analyst @ Bangalore,Bangalore/Bengaluru,TeamLease,4-6 Yrs
7,Associate Data Analyst,Bangalore/Bengaluru,Optum,2-7 Yrs
8,Associate Data Analyst,Bangalore/Bengaluru,Optum,1-4 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru(Domlur),KrazyBee,3-5 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [133]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [119]:
driver.get('https://www.naukri.com/')

In [120]:
#Enter “Data science” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field

search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys('Data Scientist')

In [121]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [122]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [123]:
job_title=[]
job_location=[]
company_name=[]

In [124]:
#scrapping job title from the given page

title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    
    title = i.text
    job_title.append(title)
    
#scraping the job-location

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    
    location = i.text
    job_location.append(location)
    
#scraping the company name

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    
    company = i.text
    company_name.append(company)

In [125]:
df = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name})
df

,job_title,job_location,company_name
0,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
4,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
5,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
6,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
7,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
8,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.
9,Data Scientist - A.P. Maersk,Bangalore/Bengaluru\n(WFH during Covid),Maersk

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
ASSIGNMENT 2
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [137]:
#Enter “Data science” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field

search_field_designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_field_designation.send_keys('Data Scientist')

In [138]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Delhi/NCR")

In [139]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [140]:
#  empty lists for scraping data
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [141]:
title_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    
    title = i.text
    job_title.append(title)
    
#scraping the job-location

location_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    
    location = i.text
    job_location.append(location)
    
    
#scraping the company name

company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    
    company = i.text
    company_name.append(company)
    
 ##scraping the experience_required 

experience_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    
    exp = i.text
    experience_required.append(exp)

In [142]:
df = pd.DataFrame({'job_title':job_title, 'job_location':job_location, 'company_name':company_name, 'EXP_required':experience_required})
df

,job_title,job_location,company_name,EXP_required
0,Job Opportunity on Data Science_ Python with T...,"Delhi / NCR, Kolkata, Hyderabad/Secunderabad, ...",Tech Mahindra,4-9 Yrs
1,Analystics & Modeling Specialist,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",Accenture,6-8 Yrs
2,Hiring For DATA Scientist @ NTT DATA Business ...,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G...",NTT DATA Business Solutions Private Limited,4-9 Yrs
3,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
4,AVAP Agile Information Systems - Data Scientis...,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",AVAP Agile,3-8 Yrs
5,Data Scientist Lead,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Cloudjune,6-10 Yrs
6,Data Scientist,"Delhi / NCR, New Delhi, Pune, Gurgaon/Gurugram...",ZS Associates,5-8 Yrs
7,Data Scientist,"Noida, Bangalore/Bengaluru\n(WFH during Covid)",Paytm,1-2 Yrs
8,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du...",Concentrix,3-8 Yrs
9,Data Science - Senior Software Engineer,"Noida, Bangalore/Bengaluru",Paytm,8-15 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual

In [214]:
driver = webdriver.Chrome(r"chromedriver.exe")

In [182]:
url = "https://www.flipkart.com/" 
driver.get(url)

In [156]:
#locating the search bar
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.send_keys('sunglasses')


#locating the button and clicking it toh search for sunglasses
button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button.click()

In [160]:
#creating the empty list
brand=[]
description=[]
price=[]




#scrapping the required details
start=0
end=3
for page in range(start,end):
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brands:
        brand.append(i.text)#appending the text in Brand list
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
    for i in desc:
        description.append(i.text)
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [161]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand,
                'Description':description,
                'Price':price})
#printing dataframe
df

              Brand                                        Description   Price
0     VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)  ₹1,128
1     VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...    ₹699
2    kingsunglasses          UV Protection Rectangular Sunglasses (55)    ₹189
3            SUNBEE  UV Protection, Polarized, Mirrored Retro Squar...    ₹246
4        EYELLUSION  Riding Glasses, Riding Glasses, UV Protection ...    ₹189
..              ...                                                ...     ...
115    CRYSTAL CART  UV Protection, Gradient Round Sunglasses (Free...    ₹377
116        Fastrack             UV Protection Wayfarer Sunglasses (52)    ₹639
117   VINCENT CHASE  by Lenskart Polarized, UV Protection Cat-eye S...  ₹1,099
118       Elligator  UV Protection, Riding Glasses Rectangular, Ret...    ₹375
119          PIRASO             Polarized Retro Square Sunglasses (47)    ₹384

[120 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field . 
3. Then click the search button.
You will reach to the below shown webpage .
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [179]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [180]:
# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]
time.sleep(2)

#scraping 10 pages url
url_1 = driver.find_elements(By.XPATH,"//a[@class='ge-49M _2Kfbh8']")
for i in url_1:
    urls.append(i.get_attribute('href'))
url_2 = driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
for i in url_2:
    urls.append(i.get_attribute('href'))
time.sleep(4)


for i in urls:
    driver.get(i)
    #for scrapping the number of stars
    for j in driver.find_elements(By.XPATH,"//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    #for scrapping the short review
    for k in driver.find_elements(By.XPATH,"//p[@class='_2-N8zT']"):
        short_review.append(k.text)
    #for scrapping the complete review
    for l in driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div"):
        complete_review.append(l.text)
        
        
        
#Combining all the lists into a single dataframe
df=pd.DataFrame({'Number of Stars': stars,
                'Short Review': short_review,
               'Full Review': complete_review})
df

,Number of Stars,Short Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Worth every penny,It is better to buy iPhone 11 over iPhone 12 i...
96,5,Excellent,It was amazing experience for me. Honestly i a...
97,5,Terrific,"I bought iPhone 11 On March 2021, And I am Wri..."
98,5,Excellent,Just go for it.\nThis phone is really amazing....
99,5,Super!,This is my first ever iPhone.\nAnd I truly don...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the 
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.
ASSIGNMENT 2

In [ ]:
url = "https://www.flipkart.com/"
driver.get(url)

In [184]:
#locating the search bar
search_bar=driver.find_element(By.CLASS_NAME,"_3704LK")
search_bar.send_keys('sneakers')


#locating the button and clicking it to search for sneakers
button=driver.find_element(By.CLASS_NAME,'L0Z3Pu')
button.click()

In [185]:
#creating the empty list
brand=[]
description=[]
price=[]

start=0
end=4
for page in range(start,end):
    brands=driver.find_elements(By.CLASS_NAME,'_2WkVRV')
    for i in brands:
        brand.append(i.text)
    prices=driver.find_elements(By.XPATH,"//div[@class='_30jeq3']")
    for i in prices:
        price.append(i.text)
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
    for i in desc:
        description.append(i.text)
        
    nxt_button=driver.find_elements(By.XPATH,"//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:
        driver.get(nxt_button[0].get_attribute('href'))

In [186]:
#creating a dataframe
df=pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100]})
df

,Brand,Description,Price
0,Layasa,Casual Sneakers White Shoes For Girls And Snea...,₹499
1,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹352
2,Labbin,Sneakers For Men,₹329
3,HOTSTYLE,Sneakers For Men,₹292
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹179
...,...,...,...
95,asian,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹419
96,Aragats,Casual Sneakers For Men,₹521
97,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,₹322
98,World Wear Footwear,Latest Collection Black-349 Trendy & Stylish C...,₹249
99,Sparx,SM-620 Sneakers For Men,₹909

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [187]:
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [188]:
#clicking on price filter
button = driver.find_element(By.XPATH,"//ul[@class='price-list']/li[2]")
button.click()

In [189]:
#creating empty lists
shoe_names=[]
shoe_desc=[]
short_desc=[]
price=[]
page_urls = []


# scrape next pages urls
nxt_page = driver.find_elements(By.XPATH,"//ul[@class='pagination-container']/li/a")
for i in nxt_page:
    page_urls.append(i.get_attribute('href'))
    

for url in page_urls[:3]:
    driver.get(url)
    Names=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h3")  
    for i in Names:
        shoe_names.append(i.text)
    
    desc=driver.find_elements(By.XPATH,"//div[@class='product-productMetaInfo']/h4") 
    for i in desc:
        shoe_desc.append(i.text)
    
    for j in range(0,len(shoe_desc),2):
        short_desc.append(shoe_desc[j])
    
    rs=driver.find_elements(By.XPATH,"//div[@class='product-price']")  
    for i in rs:
        price.append(i.text)    
        
df=pd.DataFrame({'Brand': shoe_names[:100],'Short-description': short_desc[:100],'Price': price[:100]})
df

,Brand,Short-description,Price
0,Nike,Men Winflo 8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
1,ADIDAS Originals,Men Niteball II Sneakers,Rs. 9349Rs. 10999(15% OFF)
2,Nike,Men ZOOM WINFLO8 Running Shoes,Rs. 7880Rs. 8295(5% OFF)
3,Tommy Hilfiger,Men Lightweight Sneakers,Rs. 7999
4,Tommy Hilfiger,Men Solid Sneakers,Rs. 9999
...,...,...,...
95,ADIDAS,Men Slip-On Sneakers,Rs. 8999
96,Nike,Unisex X90000L3 U Running Shoe,Rs. 10495
97,Tommy Hilfiger,Men Leather Sneakers,Rs. 8299
98,ADIDAS Originals,Men Superstar Sneakers,Rs. 9999
99,ADIDAS Originals,Men Running Shoes,Rs. 9999

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
   After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [4]:
driver.get("http://www.amazon.in/")

In [5]:
laptop = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
laptop.send_keys('laptop')

In [6]:
#finding search
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [7]:
intel = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]')
intel.click()

In [8]:
#Creating empty list
title = []
laptop_rating = []
laptop_price = []

#title scraping
laptop_title = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in laptop_title[0:10]:
    lap_title = i.text
    title.append(lap_title)

In [9]:
#Scraping price
lap_price = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for i in lap_price[0:10]:
    laptop_price.append(i.text)

In [10]:
print(len(title),len(laptop_price))

10 10

In [11]:
#Scraping ratings
url = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")
url1 = []


for i in url[:10]:
    url1.append(i.get_attribute('href'))
for url2 in url1:
    driver.get(url2)
    try:                  
        rating = driver.find_element(By.XPATH, "//span[@class='a-size-base a-nowrap']//span")
        laptop_rating.append(rating.text)
        
    except NoSuchElementException:
        laptop_rating.append("NO rating")

In [12]:
#Creating dataframe
laptop_df = pd.DataFrame({'Title':title, 'Ratings': laptop_rating, 'Price':laptop_price})
laptop_df = laptop_df.style.hide_index()
laptop_df

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [13]:
driver.get('https://www.ambitionbox.com/')

In [14]:
driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a').click()

In [15]:
data = driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
data.send_keys('Data Scientist')

In [16]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span').click()

In [17]:
#location
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p').click()

In [18]:
location = driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location.send_keys('Noida')

In [19]:
driver.find_element(By.XPATH, '/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label').click()

In [20]:
#Creating empty list
Company = []
no_day = []
c_rating = []

#Scraping first 10 company names.
c_name = driver.find_elements(By.XPATH, '//p[@class="company body-medium"]')
for i in c_name[0:10]:
    Company.append(i.text)
    
#Scraping No of days ago when job posted
days = driver.find_elements(By.XPATH, "//div[@class='other-info']/span[1]")
for i in days[0:20]:
    nos = i.text
    no_day.append(nos)
    
#Scraping rating of the company
com_rat = driver.find_elements(By.XPATH, '//span[@class="body-small"]')
for i in com_rat[0:10]:
    c_rating.append(i.text)
    
c_rating

['4.1', '4.3', '3.8', '4.0', '4.0', '4.0', '4.3', '4.3', '3.8', '3.8']

In [21]:
#Creating Daframe to showcase scrapped data
job = pd.DataFrame({'Company Name':Company, 'No Of Days Ago Job Posted':no_day, 'Company Rating':c_rating})
job = job.style.hide_index()
job

# Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [241]:
#Opening Ambitionbox page on automated webdriver
driver.get('https://www.ambitionbox.com/')

In [242]:
#Click on salary
time.sleep(3)
driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/span').click()

In [243]:
#Click on Browse salaries 
driver.find_element(By.XPATH, '/html/body/div/div/div/div[1]/header/nav/ul/li[3]/div/ul/li[1]/div/div[2]/a').click()

In [244]:
#Enter Data Scientist
time.sleep(2)
ds = driver.find_element(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
ds.send_keys('Data Scientist')

In [245]:
#Click on Data Scientist
data = driver.find_elements(By.CLASS_NAME, 'tt_text')
data[0].click()

In [246]:
#Creating empty list.
ds_com = []
no_sal = []
avg_sal = []
min_sal = []
max_sal = []
exp_req = []

#Scraping company name
comp_name = driver.find_elements(By.XPATH, '//div[@class="company-info"]')
for i in comp_name:
    ds_com.append(i.text.split('\n')[0])
    
#Scraping total salary record
for i in comp_name:
    no_sal.append(i.text.split('\n')[-1].split('(')[-1].strip(')').strip(' '))

#Scraping average salary
av = driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')
for i in av:
    avg_sal.append(i.text.split('₹')[-1])
    
#Scraping minimum salary
mini = driver.find_elements(By.XPATH, '//div[@class="salary-values"]')
for i in mini:
    min_sal.append(i.text.split('\n')[0].strip('₹').strip(' '))

#Scraping maximum salary
for i in mini:
    max_sal.append(i.text.split('\n')[1].strip('₹').strip(' '))
    
#Scraping experience required
for i in comp_name:
    exp_req.append(i.text.split('\n')[-1].split('(')[0].strip(' '))
    
#creating dataframe
DF = pd.DataFrame({'Company Name':ds_com[0:10], 'Total No Of Records':no_sal[0:10], 'Average Salary':avg_sal[0:10], 'Minimun Salary':min_sal[0:10], 'Maximum Salary':max_sal[0:10], 'Experience Required':exp_req[0:10]})
DF = DF.style.hide_index()
DF